body {
	font-family: arial, helvetica, sans-serif;
	font-size: 1.4rem;
	overflow: auto;
}

h1 {
	font-size: 2rem;
	color: #1EACDB;
}

h2 {
	text-align: left;
	font-size: 1.6rem;
	font-style: italic;
}

h3 {
	font-size: 1.5rem;
	font-weight: bold;
}

table {
	width: 100%;
}

tr:nth-child(4n+3) {
	background: #F7F8FA;
}

.clickable {
	cursor: pointer;
}

th, td {
	padding: 5px 5px 0 5px;
	vertical-align: top;
}

th {
	text-align: left;
	color: #1EACDB;
}

td {
	vertical-align: middle;
	min-height: 40px;
}

select, input, textarea {
	margin-bottom: 0;
}

textarea {
    white-space: nowrap;
    overflow: hidden;
    min-height: 1em;
}

.container {
	width: 60rem;
}

.edit-form {
	box-shadow: 10px 10px 5px grey;
	padding: 2rem;
	background-color: #B3DDEB;
	margin: 10px 0;
}

.edit-form > div {
	margin-top: 0.7rem;
}

.error, .success {
  font-weight: 500;
  padding: 0.25rem;
}

.error {
  color: #8B0000;
}

.success {
  color: green;
}

.button.button-small, button.button-trimmed {
	padding: 0 5px 5px 5px;
	height: 30px;
	line-height: 30px;
}

.button.button-small {
	width: 30px;
	font-size: 20px;
}

.button.button-trimmed {
	min-width: 70px;
}

textarea.extra-wide, select.extra-wide, input.extra-wide {
	width: 50rem;
}

textarea.wide, select.wide, input.wide {
	width: 30rem;
}

textarea.thin, select.thin, input.thin {
	width: 10rem;
}

textarea.full, select.full, input.full {
	width: 100%;
}

textarea.tall {
	height: 15rem;
}

label > * {
  font-weight: normal;
}
