<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Configure Keyboard Shortcuts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="//fonts.googleapis.com/css?family=Raleway:300,400,700"
	rel="stylesheet">
<link href="css/normalize.css" rel="stylesheet">
<link href="css/skeleton.css" rel="stylesheet">
<link href="css/popup.css" rel="stylesheet">
</head>
<body data-ng-app="keyShorts">
	<section style="margin: 2em;" class="container"
		data-ng-controller="shortcutConfigurationController">
		<h5>configure keyboard shortcuts</h5>
		<p>Add new keyboard shortcuts by setting a key sequence, a query
			to find the sequence and an action to perform.</p>
		<div class="u-pull-right">
			<button class="button button-small" data-ng-click="addKey()">+</button>
		</div>
		<div>
			<table>
				<thead>
					<tr>
						<th>url expression</th>
						<th>keys</th>
						<th>element query</th>
						<th>action</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="key in shortcutKeys">
						<td><input class="extra-wide" type="text"
							name="url_expression" data-ng-model="key.urlExpression" /></td>
						<td><input class="thin" type="text" name="key_sequence"
							data-ng-model="key.sequence" /></td>
						<td><input class="wide" type="text" name="query"
							data-ng-model="key.query" /></td>
						<td><select class="thin" name="action"
							data-ng-model="key.action" data-ng-options="action.value as action.label for action in actions">
						</select></td>
						<td>
							<button class="button button-small"
								data-ng-click="removeKey($event, key)">&ndash;</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="u-pull-left">
			<button class="button-primary" data-ng-click="save()">Save</button>
		</div>
	</section>
	<script src="scripts/3p/angular.min.js"></script>
	<script src="scripts/popup.js"></script>
</body>
</html>
