<div id="edit-key-{{$index}}" class="edit-form">
  <div class="u-pull-right clickable" style="border-radius: 2px; margin: -8px 0 0 8px; border: solid 1px black; padding: 2px 5px;" data-ng-click="shortcuts.closeEdit()">X</div>
  <h3 data-ng-show="key.sequence || key.name">{{key.sequence}}: {{key.name}}</h3>
  <div>
    <label>URL Expression
      <input class="extra-wide" type="text" name="url_expression" placeholder="Regular expression that matches the page URL. Empty is all websites." data-ng-model="shortcuts.cache.key.urlExpression" data-ng-blur="shortcuts.saveEdit()" data-ng-keydown="shortcuts.handleEditKeyPress($event)" />
    </label>
  </div>
  <div>
    <label>Key Sequence
      <input class="extra-wide" type="text" name="key_sequence" placeholder="Key sequence (e.g. alt+s)" data-ng-model="shortcuts.cache.key.sequence" data-ng-change="shortcuts.saveEdit()" data-ng-keydown="shortcuts.handleEditKeyPress($event)" />
    </label>
  </div>
  <div>
    <label>Description
      <input class="extra-wide" type="text" name="name" placeholder="Human Readable Description" data-ng-model="shortcuts.cache.key.name" data-ng-change="shortcuts.saveEdit()" data-ng-keydown="shortcuts.handleEditKeyPress($event)" />
    </label>
  </div>
  <div>
    <label>Run When
      <input class="extra-wide" type="text" name="when" placeholder="Expression to control when actions are run. Always run if empty." data-ng-model="shortcuts.cache.key.when" data-ng-change="shortcuts.saveEdit()" data-ng-keydown="shortcuts.handleEditKeyPress($event)" />
    </label>
  </div>
  <div>
    <label>Actions
      <textarea class="full tall code" name="query" placeholder="Actions to run" data-ng-model="shortcuts.cache.key.expression" data-ng-change="shortcuts.saveEdit()" data-ng-keydown="shortcuts.handleEditKeyPress($event)"></textarea>
    </label>
  </div>
  <div style="margin-top: 1rem">
    <div class="u-pull-left" style="margin-right: 2rem;">
      <button class="button button-trimmed button-primary" data-ng-click="shortcuts.saveAndClose()">Save</button>
    </div>
    <div class="u-pull-left">
      <button class="button button-trimmed button-primary" data-ng-click="shortcuts.revert()">Revert Changes</button>
    </div>
    <div class="u-pull-right">
      <button class="button button-trimmed" data-ng-click="shortcuts.removeAndClose()">Delete</button>
    </div>
    <div class="u-cf"></div>
  </div>
</div>
