<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Configure Keyboard Shortcuts</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/normalize.css" rel="stylesheet">
  <link href="css/skeleton.css" rel="stylesheet">
  <link href="css/popup.css" rel="stylesheet">
</head>
<body>
  <div style="margin: 2rem;" class="container">
    <div>
      <div class="u-pull-left" style="margin-right: 1rem">
        <img src="images/icon64.png" alt="KS" />
      </div>
      <div style="padding-top: 25px;">
        <h1>keyboard shortcuts</h1>
      </div>
      <div class="u-cf"></div>
    </div>
    <p>
      Add new keyboard shortcuts by setting a url pattern, key sequence, and a sequence of operations. Url patterns follow js regex (e.g. ^https?://(www\.)?google\.com.*). Key sequences consist of short name of key delimited by + (e.g. alt+shift+s). Actions
      are a sequence of operations to accomplish an action. See <a href="https://github.com/farleigh/keyboardshortcuts/wiki" target="_new">Wiki</a> for additional details.
    </p>
    <div style="margin: 1rem 1rem 1rem 0;">
      <button class="button button-primary button-trimmed" data-ng-click="shortcuts.openAdd()" title="Add a new shortcut key">Add</button>
      <button class="button button-primary button-trimmed" data-ng-click="shortcuts.openImportKeys()" title="Import shortcut keys from a url">Import</button>
      <button class="button button-primary button-trimmed" data-ng-click="shortcuts.exportKeys()" title="Export shortcut keys to a file">Export</button>
    </div>
    <div class="edit-form" style="margin-bottom: 2rem;" data-ng-show="shortcuts.editImport">
      <h3>Import keyboard shortcuts from a URL.</h3>
      <div>
        <label for="import_url">URL</label>
        <input class="extra-wide" type="url" name="import_url" placeholder="URL to import shortcuts from" data-ng-model="shortcuts.importURL" />
      </div>
      <div class="error" id="importError" data-ng-show="shortcuts.importError">{{shortcuts.importError}}</div>
      <div class="success" id="importSuccess" data-ng-show="shortcuts.importSuccess">{{shortcuts.importSuccess}}</div>
      <div style="margin-top: 2rem">
        <div class="u-pull-left">
          <button class="button button-trimmed button-primary" data-ng-click="shortcuts.importKeys($event)" title="Import shortcut keys from a url">Import</button>
        </div>
        <div class="u-pull-right">
          <button class="button button-trimmed" data-ng-click="shortcuts.closeImportKeys($event)">Close</button>
        </div>
        <div class="u-cf"></div>
      </div>
    </div>
    <div data-ng-show="shortcuts.isEditingNew()" data-ng-include="'edit.html'"></div>
    <div data-ng-repeat="group in shortcuts.shortcutKeys | groupBy:'urlExpression':'keysByUrl'">
      <table>
        <caption><h2>URL Expression: {{group.urlExpression}}</h2></td></caption>
        <thead>
          <tr>
            <th>Key Sequence</th>
            <th>Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="clickable" data-ng-repeat-start="key in group.items track by $index" data-ng-hide="shortcuts.isEditingKey(key)" data-ng-click="shortcuts.openEdit(key)">
            <td><div>{{key.sequence}}</div></td>
            <td><div>{{key.name}}</div></td>
            <td>
              <button class="button button-small button-primary" title="Edit shortcut key">
                <img src="images/edit.png" alt="Edit" />
              </button>
            </td>
          </tr>
          <tr data-ng-repeat-end="" data-ng-show="shortcuts.isEditingKey(key)">
            <td colspan="5">
              <div data-ng-include="'edit.html'"></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <footer style="margin-top: 2rem">
      <em class="u-pull-left">KeyboardShortcuts v{{shortcuts.version}}</em>
      <a class="u-pull-right" href="https://github.com/farleigh/keyboardshortcuts/wiki" target="_new">More Information</a>
    </footer>
  </div>
  <script src="js/3p/almond-min.js"></script>
  <script src="js/3p/jquery-min.js"></script>
  <script src="js/3p/angular-min.js"></script>
  <script src="js/3p/ngGroup-min.js"></script>
  <script src="js/config-bundle.js"></script>
</body>
</html>
